.nav {
    width: 91%;
    height: 80px;
    margin: auto;
}

.navbar {
    display: flex;
}

.logo {
    flex: 0.5;
}

.logo img {
    width: 150px;
    height: 80px;
}

.nav-links {
    flex: 2;
}

ul {
    margin: auto;
    display: flex;
    width: 40%;
    height: 100%;
}

.link {
    list-style: none;
    padding: 15px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.button {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 4px 10px 4px 10px;
    background-color: #d81b1b;
    color: white;
    font-weight: 700;
}